head, h1 {
    font-family: "Jazz LET", fantasy, serif;
    font-size: 50px;
      }
  
  body {
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    padding: 60px;

  }


  .topnav {
      background-color: lavenderblush;
      max-width: 100%;
      height: auto;
      border: solid;
      border-width: 1px;
      border-radius: 10px;
      float: left;
      text-align: center;
      padding: 20px;
  }
  
  .topnav a {
    float: inline-start;
    background-color: pink;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    max-width: 100px;
    border: dashed;    
  }
  
  .topnav a:hover {
    background-color: black;
    color: pink;
  }
  
  .topnav a.active {
    background-color: purple;
    color: white;
  }
  
  img {
    padding: 20px;
    margin: 20px;
    opacity: 0.5;
    width: 300px;
    max-width: 100%;
  height: auto;
  }
  
  form {
    background-color: lavenderblush;
    border-width: 0rem;
    margin: 0 auto;
    position: relative;
    width: 60%;
    border: solid;
  }

  


footer {
  float: left;
}

@media only screen and (max-width: 320px) {
  .topnav {
    width: 100%
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .topnav {
    width: 100%
  }
}

@media only screen and (min-width: 769px) {
  .topnav {
    width: 100%
  }
}